@import "tailwindcss";
@import "tw-animate-css";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --contianer-4xs: 14rem;
  --contianer-5xs: 12rem;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade {
  animation: fade 0.3s ease-in-out;
}
