@import "tailwindcss";
@import "tw-animate-css";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* // Primary => Dark Spring Green => #237c4a ---- buttons, links, active states, focus rings
// Secondary => June Bud => #b6e14f ---- CTA highlights, Badges, Hover accents, success-style emphasis.
// Neutral Base => main bg => #ffffff | text => #000000 */


@theme {
  /* colors */
  --color-white: #ffffff;
  --color-spring: #237c4a;
  --color-evergreen: #14532d;
  --color-bud: #b6e14f;
  --color-black: #000000;
  --color-white: #ffffff;
  /* container */
  --contianer-4xs: 14rem;
  --contianer-5xs: 12rem;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.3s ease-in-out;
}
